<section class="about" id="about">
    <div class="container ">

        <ul class="nav nav-tabs w-100" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active " id="nuestra-historia" data-toggle="tab" href="#us-info" role="tab"
                    aria-controls="us-info" aria-selected="true">Nuestra Historia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " id="nuestro-equipo" data-toggle="tab" href="#our-team" role="tab"
                    aria-controls="our-team" aria-selected="false">Nuestro Equipo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nuestras-instalaciones" data-toggle="tab" href="#our-gym" role="tab"
                    aria-controls="our-gym" aria-selected="false">Nuestras Instalaciones</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="us-info" role="tabpanel" aria-labelledby="nuestra-historia">
                <div class="row">
                    <div class="mt-lg-5 mb-lg-0 mb-4 mx-auto col-12" data-aos="fade-up" data-aos-delay="400">

                        <p>
                            Inaugurado en <strong>1964</strong>, el Club Náutico de Zaragoza es una Asociación
                            Deportiva Básica, con <strong>Nº&nbsp;Reg.&nbsp;979/01</strong> , inscrita en el
                            <strong>registro general de asociaciones deportivas del Gobierno de Aragón</strong>.
                        </p>
                        <p>
                            En la actualidad gestionamos un edificio de propiedad municipal de reciente
                            construcción, pero los cimientos que sustentan el club son los mismos que en sus
                            inicios: <strong>los deportes
                                náuticos</strong>, que son la razón de ser de nuestra entidad.
                        </p>
                        <p>
                            Nos sentimos orgullosos y privilegiados por el emplazamiento en el que nos encontramos,
                            en el corazón de Zaragoza, a los pies de la Basílica del Pilar y en la orilla del Ebro,
                            rodeados de naturaleza, historia, arte, arquitectura y cultura.
                        </p>
                        <p>
                            Unas instalaciones de más de 1.100 mts2, junto al Restaurante Tres Mares, nos permiten
                            ofrecer al público nuestros principales espacios de zona deportiva:
                        </p>
                        <ul>
                            <li>
                                <strong>Hangar de embarcaciones:</strong> Para la práctica de remo, piragüismo,
                                paddle surf, motonáutica...
                            </li>
                            <li>
                                <strong>Zona de administración, despacho y sala de juntas</strong>
                            </li>
                            <li>
                                <strong>Zona de gimnasio:</strong> Nuestro Gimnasio Náutico Training Club posee dos
                                zonas diferenciadas, <strong>La sala Ebro</strong>, con vistas panorámicas al Río y
                                Puente de Piedra, escenario único donde practicar
                                Pilates, Espalda Sana y un gran número de talleres, y <strong>la sala
                                    multiactividad</strong>, con aparatos específicos de core training,
                                entrenamientos funcionales y carril de velocidad.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade " id="our-team" role="tabpanel" aria-labelledby="nuestro-equipo">
                <div class="row">
                    <div class="mt-lg-5 mb-lg-0 mb-4 mx-auto col-12">
                        <p>
                            Este Club Deportivo está dirigido por una Junta Directiva elegida entre sus socios y
                            abonados, más de 300 actualmente, y que está compuesta por las siguientes personas:
                        </p>
                        <div data-aos="fade-up" data-aos-delay="400">


                            <ul class="our-team__list list-unstyled text-center">
                                <li class="col-6 col-md-4 col-lg-3 mb-2">
                                    <strong><span>Presidente</span></strong>
                                    <p>José Manuel Larroy Calvo</p>
                                </li>
                                <li class="col-6 col-md-4 col-lg-3 mb-2">
                                    <strong><span>Vicepresidente</span></strong>
                                    <p>Juan Quílez Montañés</p>
                                </li>
                                <li class="col-6 col-md-4 col-lg-3 mb-2">
                                    <strong><span>Secretario</span></strong>
                                    <p>Ángel Ordovás Soriano</p>
                                </li>
                                <li class="col-6 col-md-4 col-lg-3 mb-2">
                                    <strong><span>Tesorero</span></strong>
                                    <p>Pedro Oliván Ferrando</p>
                                </li>
                                <li class="col-6 col-md-4 col-lg-3 mb-2">
                                    <strong><span>Piragüismo</span></strong>
                                    <p>Carlos Ezquerro Ibarra</p>
                                </li>
                                <li class="col-6 col-md-4 col-lg-3 mb-2">
                                    <strong><span>Remo</span></strong>
                                    <p>Carlos Belled Lacasa</p>
                                </li>
                                <li class="col-6 col-md-4 col-lg-3 mb-2">
                                    <strong><span>Motonáutica</span></strong>
                                    <p>Ángel Ordovás Soriano</p>
                                </li>
                                <li class="col-6 col-md-4 col-lg-3">
                                    <strong><span>Salvamento&nbsp;Y Socorrismo</span></strong>
                                    <p>Ignacio&nbsp;Martínez Bermejo</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="our-gym" role="tabpanel" aria-labelledby="nuestras-instalaciones">
                <div class="row">
                    <div class="mt-lg-5 mb-lg-0 mb-4 mx-auto col-12">

                        <div data-aos="fade-up" data-aos-delay="400">
                            <p>
                                Una sala de entrenamientos funcionales de más de 200m2 donde practicar
                                CrossTraining, Funcional Training, entrenamientos personales...
                            </p>
                            <p>
                                La Sala Ebro, panorámica del río Ebro y el Puente de Piedra, donde puedes cuidarte
                                entrenando Pilates y Espalda Sana, Cardiodance o asistiendo a los talleres que
                                programamos periódicamente.
                            </p>
                            <p>
                                Nuestros entrenadores están especializados en running, entrenos funcionales,
                                actividades dirigidas...
                            </p>
                            <p>
                                Además encontrarás ergómetros de remo y piragüismo para entrenar y puedes iniciarte
                                con nosotros en los Deportes Náuticos (remo, piragüismo, Paddle Surf) asistiendo a
                                nuestros cursos y entrenamientos.
                            </p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>