<section class="contact section full-height pt-5" id="contact">
    <div class="container">
        <h2 class="mb-3 " data-aos="fade-up">Nuestras vías de contacto</h2>
        <div class="row">

            <div class="col-lg-7 col-12 d-flex flex-column justify-content-center  flex-grow-1">
                <div class="contact__list">
                    <a class="copyBtn mb-4" href="mailto:clubnauticozaragoza@gmail.com">
                        <img src="/src/assets/images/icons/old/gmail.png" alt=""> clubnauticozaragoza@gmail.com
                    </a>
                    <a class="copyBtn mb-4" href="tel:876641662">
                        <img src="/src/assets/images/icons/telefono.png" alt=""> 876 641 662
                    </a>
                    <a class="mb-4" target="_blank" rel="noreferrer nofollow" data-action="share/whatsapp/share"
                        href="https://api.whatsapp.com/send?phone=34676610227&text=¡Hola!%20Quiero%20anotarme">
                        <div class="position-relative d-inline-block">
                            <img class="interaction-img img-fluid" src="/src/assets/images/icons/interaction.png" alt=""
                                data-aos="fade-up" data-aos-delay="800" />
                            <img class="img-fluid" src="/src/assets/images/icons/old/whatsapp.svg" alt="" />
                        </div>
                        <span>O haz click y envíanos un WhatsApp</span>
                    </a>
                </div>
            </div>
            <div class="about-working-hours__container col-lg-5 col-12 flex-grow-1 d-flex justify-content-center ">
                <div class="about-working-hours mt-2 text-center text-lg-left">
                    <div>

                        <h2 class="mb-4" data-aos="fade-up" data-aos-delay="500">
                            Horarios de atención
                        </h2>

                        <strong class="mt-3 d-block" data-aos="fade-up" data-aos-delay="700">
                            Lunes a Viernes
                        </strong>

                        <p data-aos="fade-up" data-aos-delay="800">
                            10:00 hs - 13:00 hs <br /> 17:00 hs - 21:00 hs
                        </p>
                        <strong class="mt-3 d-block" data-aos="fade-up" data-aos-delay="700">
                            Sábado y Domingo cerrado
                        </strong>
                    </div>
                    <div class="my-5 ">
                        <h3>¡Te esperamos!</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="mapa row mt-3">
            <div class="col-12">
                <div class="google-map" data-aos="fade-up" data-aos-delay="900">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d886.2368307034442!2d-0.8782010581134022!3d41.6571788741371!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5914ed584d8af7%3A0xa90c62df63e5fc41!2sGimnasio%20del%20Club%20N%C3%A1utico%20de%20Zaragoza!5e0!3m2!1ses!2ses!4v1651331168514!5m2!1ses!2ses"
                        style="border:0;" allowfullscreen="" 
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <p class="text-center" data-aos="fade-up" data-aos-delay="800">
                    <i class="fa fa-map-marker mr-1"></i> P.º Echegaray y Caballero, 101, 50003 Zaragoza
                </p>
            </div>
        </div>
    </div>
</section>