<footer class="site-footer">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 col-xl-4 p-4 text-center text-xl-left">
                <p class="copyright-text">
                    Copyright &copy; 2022 Club Náutico de Zaragoza
                </p>
            </div>
            <div class="col-12 col-xl-4 text-center">
                <p>¡Puedes seguirnos en nuestras redes!</p>
                <ul class="list-unstyled d-flex justify-content-center social-media">
                    <li class="px-2">
                        <a target="_blank" rel="noreferrer nofollow"
                            href="https://www.facebook.com/clubnauticozaragoza/"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <li class="px-2">
                        <a target="_blank" rel="noreferrer nofollow"
                            href="https://www.instagram.com/clubnauticozaragoza/"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                </ul>
            </div>

            <div class="col-12 col-xl-4 p-4 justify-content-end flex-wrap text-center text-xl-right">

                <div>
                    <div class="d-flex align-items-center justify-content-end">
                        <span>
                            <i class="fa fa-envelope-o"></i>
                            <a class="copyBtn" target="_blank" rel="noopener noreferrer"
                                href="mailto:clubnauticozaragoza@gmail.com">clubnauticozaragoza@gmail.com</a>
                        </span>

                    </div>

                    <p class="">
                        <i class="fa fa-phone mr-1"></i>
                        <a href="tel:876641662">876 641 662</a> - <a href="tel:676610227">676 610 227</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>