<section class="hero d-flex flex-column justify-content-center align-items-center" id="home">

    <div class="bg-overlay"></div>

    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-8 col-md-10 mx-auto col-12">
                <div class="hero-text mt-5 text-center">
                    <div>
                        <img src="/src/assets/images/Banderin.png" alt="" class="img-fluid banderin" data-aos="fade-up"
                            data-aos-delay="300" />
                        <h1 class="text-white" data-aos="fade-up" data-aos-delay="500">
                            Club&nbsp;Náutico <span>Zaragoza</span>
                        </h1>
                        <h2 class="text-white" data-aos="fade-up" data-aos-delay="500">Fundado en 1964</h2>

                    </div>
                    <a href="#contact" class="btn custom-btn bordered mt-3 font-weight-bold" data-aos="fade-up"
                        data-aos-delay="600">
                        ¡Quiero Unirme!
                    </a>
                    <a href="#about" class="btn custom-btn secondary bordered mt-3" data-aos="fade-up"
                        data-aos-delay="700">¡Conócenos!</a>

                </div>
            </div>

        </div>
    </div>
</section>