<!-- MENU BAR -->
<nav class="navbar navbar-expand-xl fixed-top">
    <div class="container-fluid">

        <a class="navbar-brand" href="index.html">
            <img class="navbar-brand__img img-fluid" src="/src/assets/images/Logo.png" />
            <span class="navbar-brand__name">Club Náutico Zaragoza</span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-xl-auto">
                <li class="nav-item">
                    <a href="#home" class="nav-link smoothScroll">Inicio</a>
                </li>

                <li class="nav-item">
                    <a href="#about" class="nav-link smoothScroll">Sobre Nosotros</a>
                </li>

                <li class="nav-item">
                    <a href="#class" class="nav-link smoothScroll">Secciones Deportivas</a>
                </li>

                <li class="nav-item">
                    <a href="#schedule" class="nav-link smoothScroll">Horarios</a>
                </li>

                <li class="nav-item">
                    <a href="#contact" class="nav-link smoothScroll">Contacto</a>

                </li>
            </ul>

            <ul class="social-icon ml-lg-3 font-3">
                <li class="px-2">
                    <a target="_blank" rel="noreferrer nofollow" href="https://www.instagram.com/clubnauticozaragoza/">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
                <li class="px-2">
                    <a target="_blank" rel="noreferrer nofollow" href="https://www.facebook.com/clubnauticozaragoza/">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </li>
                <li class="px-2">
                    <a target="_blank" rel="noreferrer nofollow" data-action="share/whatsapp/share"
                        href="https://api.whatsapp.com/send?phone=34660115494&text=hola,%20quisiera%20anotarme!">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>