---
import banderin from '/assets/images/Banderin.png'
---

<section class="schedule section full-height pt-5" id="schedule">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white" data-aos="fade-up">
                    <img src={banderin} alt="" class="img-fluid banderin" />
                    <p>Nuestros horarios <span>2022</span></p>
                </h2>
            </div>
            <div class="table-responsive py-4 col-12 col-xl-10 mx-auto">
                <table class="table schedule-table" data-aos="fade-up" data-aos-delay="300">

                    <thead class="thead-light">

                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miercoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                    </thead>

                    <tbody>
                        <tr>
                            <td colspan="5"></td>
                        </tr>
                        <tr>
                            <td>
                                <div><strong class="pilates">Pilates</strong>10:00 - 11:00</div>
                            </td>
                            <td>
                                <div><strong class="ent-cnz">Entrenamiento CNZ</strong>10:00 - 11:00</div>
                            </td>
                            <td>
                                <div><strong class="ent-cnz">Entrenamiento CNZ</strong>10:00 - 11:00</div>
                            </td>
                            <td>
                                <div><strong class="funcional">Funcional</strong>10:00 - 11:00</div>
                            </td>
                            <td>
                                <div><strong class="ent-cnz">Entrenamiento CNZ</strong>10:00 - 11:00</div>
                            </td>
                        </tr>
                        <tr>

                            <td>
                                <div><strong class="ent-cnz">Entrenamiento CNZ</strong>11:00 - 12:00</div>
                            </td>
                            <td>
                                <div><strong class="ent-cnz">Entrenamiento CNZ</strong>11:00 - 12:00</div>
                            </td>
                            <td>
                                <div><strong class="funcional">Funcional</strong>11:00 - 12:00</div>
                            </td>
                            <td>
                                <div><strong class="ent-cnz">Entrenamiento CNZ</strong>11:00 - 12:00</div>
                            </td>
                            <td>
                                <div><strong class="ent-cnz">Entrenamiento CNZ</strong>11:00 - 12:00</div>
                            </td>
                        </tr>
                        <tr>

                            <td>
                                <div><strong class="ent-cnz">Entrenamiento CNZ</strong>12:00 - 13:00</div>
                            </td>
                            <td>
                                <div><strong class="funcional">Funcional</strong>12:00 - 13:00</div>
                            </td>
                            <td>
                                <div><strong class="ent-cnz">Entrenamiento CNZ</strong>12:00 - 13:00</div>
                            </td>
                            <td>
                                <div><strong class="ent-cnz">Entrenamiento CNZ</strong>12:00 - 13:00</div>
                            </td>
                            <td>
                                <div><strong class="espalda">Espalda Sana</strong>12:00 - 13:00</div>
                            </td>
                        </tr>

                        <tr>

                            <td>
                                <div><strong class="espalda">Espalda Sana</strong>17:00 - 18:00</div>
                            </td>
                            <td>
                                <div><strong class="ent-cnz">Entrenamiento CNZ</strong>17:00 - 18:00</div>
                            </td>
                            <td>
                                <div><strong class="ent-cnz">Entrenamiento CNZ</strong>17:00 - 18:00</div>
                            </td>
                            <td>
                                <div><strong class="funcional">Funcional</strong>17:00 - 18:00</div>
                            </td>
                            <td>
                                <div><strong class="ent-cnz">Entrenamiento CNZ</strong>17:00 - 18:00</div>
                            </td>
                        </tr>
                        <tr>

                            <td>
                                <div><strong class="ent-cnz">Entrenamiento CNZ</strong>18:00 - 19:00</div>
                            </td>
                            <td>
                                <div><strong class="ent-cnz">Entrenamiento CNZ</strong>18:00 - 19:00</div>
                            </td>
                            <td>
                                <div><strong class="funcional">Funcional</strong>18:00 - 19:00</div>
                            </td>
                            <td>
                                <div><strong class="ent-cnz">Entrenamiento CNZ</strong>18:00 - 19:00</div>
                            </td>
                            <td>
                                <div><strong class="ent-cnz">Entrenamiento CNZ</strong>18:00 - 19:00</div>
                            </td>
                        </tr>
                        <tr>

                            <td>
                                <div><strong class="hit">CNZ HIT</strong>18:00 - 19:00</div>
                            </td>
                            <td>
                                <div><strong class="pilates">Pilates</strong>18:00 - 19:00</div>
                            </td>
                            <td>
                                <div><strong class="ent-cnz">Entrenamiento CNZ</strong>18:00 - 19:00</div>
                            </td>
                            <td>
                                <div><strong class="pilates">Pilates</strong>18:00 - 19:00</div>
                            </td>
                            <td>
                                <div><strong class="running">Running</strong>18:00 - 19:00</div>
                            </td>
                        </tr>
                        <tr>

                            <td>
                                <div><strong class="ent-cnz">Entrenamiento CNZ</strong>19:00 - 20:00</div>
                            </td>
                            <td>
                                <div><strong class="ent-cnz">Entrenamiento CNZ</strong>19:00 - 20:00</div>
                            </td>
                            <td>
                                <div><strong class="running">Running</strong>19:00 - 20:00</div>
                            </td>
                            <td>
                                <div><strong class="ent-cnz">Entrenamiento CNZ</strong>19:00 - 20:00</div>
                            </td>
                            <td>
                                <div><strong class="yoga">Yoga</strong>19:00 - 20:00</div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</section>